<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Delivery2.Properties.Settings.PIS_BD_2ConnectionString"
            connectionString="Data Source=DESKTOP-J8N5KC6;Initial Catalog=PIS_BD_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>